@using EdBox.Web.Models

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <form id="validate" role="form" class="form-horizontal" action="javascript:changePasswordForm();">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Password Modification</h3>
                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">Old Password</label>
                        <div class="col-md-6 col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-lock"></span></span>
                                <input type="password" id="oldPassword" class="validate[required,minSize[6]] form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">New Password</label>
                        <div class="col-md-6 col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-lock"></span></span>
                                <input type="password" id="newPassword" class="validate[required,minSize[6]] form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">Repeat New Password</label>
                        <div class="col-md-6 col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-lock"></span></span>
                                <input type="password" id="rNewPassword" class="validate[required,minSize[6]] form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="btn-group pull-right">
                                    <a class="btn btn-warning" href="@Url.Action("Index", "Home", new {area = UserInformation.Route})">Cancel</a>
                                    <button class="btn btn-primary" type="submit">Change Password</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script>
        edBox.controller('edBoxCtrlr', function ($scope) {

            $scope.changePassword = function () {

                if ($('#newPassword').val() === $('#rNewPassword').val()) {
                    $.ajax({
                        type: "GET",
                        url: "/Security/ChangePasswordEngine?oldPassword=" + $('#oldPassword').val() + "&newPassword=" + $('#newPassword').val(),
                        async: true
                    })
                        .success(function (data) {
                            if (data.Status === true) {
                                window.notyDisplay('', data.Message, 'success');
                                window.notyDisplay('', 'Please Re-Log In to effect Changes', 'success');

                                $('#oldPassword').val('');
                                $('#newPassword').val('');
                                $('#rNewPassword').val('');
                            } else {
                                window.notyDisplay('', data.Message, 'warning');
                            }
                        })
                        .error(function (data) {
                            window.notyEx();
                        });
                } else {
                    window.notyDisplay('', 'Please check the New Passwords. They do not Match', 'warning');
                }
            };
        });

        function changePasswordForm() {
            getNgScope().changePassword();
        };
    </script>
}