<!DOCTYPE html>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<html lang="en" class="body-full-height">
<head>
    <title>EdBox: @ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="icon" href="/ViewElements/img/EdBoxLogoOnly.png" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" id="theme" href="/ViewElements/css/theme-default.css"/>
</head>
<body>
@RenderBody()
</body>
</html>

<script type="text/javascript" src="/ViewElements/js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/ViewElements/js/plugins/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="/Scripts/angular.min.js"></script>
<script type="text/javascript" src="/Scripts/global.js"></script>
<script type="text/javascript" src="/ViewElements/js/plugins/bootstrap/bootstrap.min.js"></script>

<script type='text/javascript' src='/ViewElements/js/plugins/icheck/icheck.min.js'></script>
<script type="text/javascript" src="/ViewElements/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
<script type='text/javascript' src='/ViewElements/js/plugins/noty/jquery.noty.js'></script>
<script type='text/javascript' src='/ViewElements/js/plugins/noty/layouts/topCenter.js'></script>
<script type='text/javascript' src='/ViewElements/js/plugins/noty/layouts/topLeft.js'></script>
<script type='text/javascript' src='/ViewElements/js/plugins/noty/layouts/topRight.js'></script>

<script type='text/javascript' src='/ViewElements/js/plugins/icheck/icheck.min.js'></script>
<script type="text/javascript" src="/ViewElements/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
<script type='text/javascript' src='/ViewElements/js/plugins/bootstrap/bootstrap-datepicker.js'></script>
<script type='text/javascript' src='/ViewElements/js/plugins/bootstrap/bootstrap-select.js'></script>
<script type='text/javascript' src='/ViewElements/js/plugins/validationengine/languages/jquery.validationEngine-en.js'></script>
<script type='text/javascript' src='/ViewElements/js/plugins/validationengine/jquery.validationEngine.js'></script>
<script type='text/javascript' src='/ViewElements/js/plugins/jquery-validation/jquery.validate.js'></script>
<script type='text/javascript' src='/ViewElements/js/plugins/maskedinput/jquery.maskedinput.min.js'></script>

<script type='text/javascript' src='/ViewElements/js/plugins/noty/themes/default.js'></script>
<script type="text/javascript" src="/ViewElements/js/plugins.js"></script>
<script type="text/javascript" src="/ViewElements/js/actions.js"></script>

@RenderSection("Scripts", false)