
<li class="xn-openable">
    <a href="#"><span class="fa fa-users"></span> <span class="xn-text">Finance</span></a>
    <ul>
        <li>
            <a href="@Url.Action("Index", "Billing", new {area = "Finance"})"><span class="fa fa-money"></span> Billing Overview</a>
        </li>
        <li>
            <a href="@Url.Action("General", "Billing", new {area = "Finance"})"><span class="fa fa-shopping-cart"></span>General Billing</a>
        </li>
        <li>
            <a href="@Url.Action("Specific", "Billing", new {area = "Finance"})"><span class="fa fa-shopping-cart"></span>Specific Billing</a>
        </li>
    </ul>
</li>