@using EdBox.Web.Models

<li class="xn-openable">
    <a href="#"><span class="fa fa-users"></span> <span class="xn-text">Information Central</span></a>
    <ul>
        <li>
            <a href="@Url.Action("Index", "Home", new {area = UserInformation.Route})"><span class="fa fa-user"></span>Information Overview</a>
        </li>
    </ul>
</li>