
<li class="xn-openable">
    <a href="#"><span class="fa fa-users"></span> <span class="xn-text">Registration</span></a>
    <ul>
        <li>
            <a href="@Url.Action("Index", "Registration", new {area = "Registrar"})"><span class="fa fa-user"></span> Registration Overview</a>
        </li>
        <li>
            <a href="@Url.Action("AddStudent", "Registration", new {area =  "Registrar"})"><span class="fa fa-user-plus"></span>Add Registrant</a>
        </li>
    </ul>
</li>